
<body>
    <div id="app">


    <!-- MAIN --->
    <main class="main main-content">
        <div class="header">
            <h1>Welcome back, Human <%= locals.user.email %> </h1>
            <% if(name){ %>
            <p><a href="<%= title %>" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#exampleModal" role="button">Added new by the name of :  <%= name%></a></p> 
            <% } %>
        </div>
        
        <div class="overview-cards">
            <div class="card product-card">
                <div class="title">
                    <h2>Tickets</h2>
                </div>
                <span class="content product-content">
                    <svg>
                   
                    </svg>
                    <div class="number">
                        <tr v-for="ticket in tickets">
                            <td>
                              {{tickets.length }}
                            </td>
                          </tr>
                    </div>
                </span>
            </div>
            <div class="card user-card">
                <div class="title">
                    <h2>Actors</h2>
                </div>
                <span class="content user-content">
                    <svg>
                        
                    </svg>
                    <div class="number">
                        <tr v-for="actor in actors">
                            <td>
                              {{actors.length }}
                            </td>
                          </tr>
                    </div>
                </span>
            </div>
            <div class="card order-card">
                <div class="title">
                    <h2>Locations</h2>
                </div>
                <span class="content order-content">
                    <svg>
                    
                    </svg>
                    <div class="number">
                        <tr v-for="location in locations2">
                            <td>
                              {{locations2.length }}
                            </td>
                          </tr>
                    </div>
                </span>
            </div>
        </div>
    </main>

    
<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <%= id %>
        </div>
        <div class="modal-body">
            <%= name %>
        </div>
        <div class="modal-body">
            <%= field1 %>
        </div>
        <div class="modal-body">
            <%= field2 %>
        </div>
        <div class="modal-body">
            <%= field3 %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</body>
<link rel="stylesheet" href="./admin.css" type="text/css">
</html>

